Source: swh-loader-mercurial
Maintainer: Software Heritage developers <swh-devel@inria.fr>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python (>= 2),
               patool,
               python3-all,
               python3-click,
               python3-dateutil,
               python3-hglib,
               python3-pytest,
               python3-pytest-mock,
               python3-pytest-postgresql,
               python3-setuptools,
               python3-setuptools-scm,
               python3-retrying,
               python3-sqlitedict,
               python3-swh.core (>= 0.1.0~),
               python3-swh.model (>= 0.4.0~),
               python3-swh.storage (>= 0.10.0~),
               python3-swh.scheduler (>= 0.3.0~),
               python3-swh.loader.core (>= 0.5.9~)
Standards-Version: 3.9.6
Homepage: https://forge.softwareheritage.org/source/swh-loader-mercurial/

Package: python3-swh.loader.mercurial
Architecture: all
Depends: python3-swh.core (>= 0.1.0~),
         python3-swh.loader.core (>= 0.5.9~),
         python3-swh.model (>= 0.4.0~),
         python3-swh.storage (>= 0.10.0~),
         python3-swh.scheduler (>= 0.3.0~),
         patool,
         python3-sqlitedict,
         python3-hglib,
         ${misc:Depends}, ${python3:Depends}
Description: Software Heritage Mercurial Loader
  Module in charge of loading hg/mercurial repositories into
  swh storage.
